<div class='container'>
  <div calss'row'>
    <div>
      <% @favorites.each do |favorite| %>
        <%= favorite.name %>
      <% end %>
      <%= link_to 'お気に入り登録', new_favorite_path %>
    </div>
  </div>
</div>