<div class="container">
  <div calss="row">
    <div class="col">
      <% @items.each do |item| %>
        <%= link_to edit_item_path(item) do %>
          <%= item.name %>
        <% end %>
      <% end %>
      <%= link_to "物品追加", new_item_path(storage_id: @storage.id) %>
    </div>
  </div>
</div>