@import '~bootstrap/scss/bootstrap';
@import '~@fortawesome/fontawesome-free/scss/fontawesome';

.bg-header {
  background-color: #55acee !important;
}

.text-header {
  font-family: Verdana !important;
  font-weight: 600 !important;
}

.text-footer {
  font-color: #999999 !important;
}

body {
  position: relative;
  padding-bottom: 60px;
  min-height: 100vh;
}

footer {
  position: absolute;/* ←絶対位置 */
  bottom: 0;
  left: 0;
}_for_select {
  
}