<div class="container px-5 px-sm-0">
  <h3 class="my-3">検索結果</h3>
  <div class="row row-cols-md-4 row-cols-2">
    <% if @items.count == 0 %>
      検索結果がありません
    <% else %>
      <%= render 'items/list', items: @items %>
    <% end %>
  </div>
</div>