<% item.item_comments.each do |item_comment| %>
  <table class="table table-borderless mt-1 ">
    <tr>
      <th class="text-left text-nowrap" style="width: 60px;">
        <%= link_to item_item_comment_path(item,item_comment), method: :delete, remote: true, data: { confirm: "このコメントを削除しますか？" } do %>
          <i class="far fa-trash-alt"></i>
        <% end %>
        <%= item_comment.member.name %>
      </th>
      <td class="text-left shadow-sm rounded-pill text-wrap"><%= item_comment.comment %></td>
    </tr>
  </table>
<% end %>