<%= form_with(model:[item,item_comment], method: :post, local: false) do |f| %>
  <div class="form-row row-cols-1 mt-3">
    <div claas="form-group">
      <%= f.text_area :comment, class: "form-control", placeholder: "コメントを入力してください"%>
    </div>
  </div>
  <div class="form-row mt-2">
    <div class="form-group col-12 d-flex justify-content-end">
      <%= f.select :member_id, options_from_collection_for_select(Member.all,:id,:name), {}, {style: "width:130px;"} %>
      <%= f.submit 'コメント登録', class: "btn btn-success ml-2" %>
    </div>
  </div>
<% end %>