<div class='container'>
  <div calss'row'>
    <div class="form-inline text-left">
      <h3><b>アイテム履歴一覧</b></h3>
      <h5>(全<%= @items.count %>件)</h5>
    </div>
    <% if @items.count == 0 %>
      履歴がありません
    <% else %>
    <div class="row row-cols-4">
    <%= render 'list', items: @items %>
    <% end %>
    </div>
  </div>