<% members.each do |member| %>
  <table>
    <tr>
      <th class="text-left" style="width: 150px;">
        <%= link_to member_path(member), method: :delete, data: { confirm: "このメンバーを削除しますか？" } do %>
          <i class="far fa-trash-alt"></i>
        <% end %>
        メンバー名
      </th>
      <td class="text-center"><%= member.name %></td>
    </tr>
  </table>
<% end %>